@font-face {
    font-family: 'FFMCF';
    src: url('assets/FFMCF.otf') format('opentype');
}
@font-face {
    font-family: 'WESTON';
    src: url('assets/WestonFree-Regular.ttf') format('truetyype');
}

body {
    font-family: WESTON, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 10px;
    background: #222;
    color: white;
    max-height: 150px;
    font-family: 'WESTON', Arial, sans-serif;
}

.header img {
    height: 150px;
    margin-right: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-height: 20%;
}

.box {
    background: #666;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    flex-grow: 1;
    max-width: 45%;
    height: 10%;
    margin: 10px;
    font-size: 5em;
    text-transform: uppercase;
    font-family: 'FFMCF', Arial, sans-serif;
}

.box h2 {
    font-size: 0.6em;
    margin-bottom: 10px;
    color: #ccc;
}


.box p {
    font-size: 1.5em;
    line-height: 0.8;
    text-align: left;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .box {
        min-width: 90%;
        min-height: auto;
        font-size: 3em;
    }
}